body{
	background-color: #383636;
}

.icon{
	height: 50px;
}

.set{
	display: flex;
}

.top{
	display: grid;
	height: 75px;
	justify-items: center;
	align-content: center;
}

.heading{
	padding-top: 0px;
	padding-left: 10px;
	font-size: xx-large;
	background: linear-gradient(to right,#ff9966, #ec3d37);
	background-clip: text;
 	-webkit-background-clip: text;
	color: transparent;
	font-weight: bolder;
	font-family: 'Poppins', sans-serif;
}

.set:hover{
	cursor: pointer;
}

.mid{
	display: flex;
	height: 400px;
	justify-content: space-around;
	padding-top: 50px;
}

.user-figure{
	width: 300px;
	height: 300px;
	transform: rotate(90deg);
}

.ai-figure{
	width: 300px;
	height: 300px;
	transform: rotateY(180deg);
}


.user-figure-sci{
	transform: rotate(0deg);
}

.ai-figure-sci{
	transform: rotateY(180deg);
}

.rn-sci{
	transform: rotate(0deg);
}

.rn{
	transform: rotate(270deg);
}

.user-score{
	color: #838784;
	font-size: x-large;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.ai-score{
	color: #838784;
	font-size: x-large;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.user-name{
	font-size: x-large;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.ai-name{
	font-size: x-large;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}


.choose{
	display: flex;
	justify-content: center;
}

.rock{
	fill: #ff9966;
	width: 50px; height: 50px; cursor: pointer;
	margin-right: 25px;
}

.rock:focus{
	fill: #ec3d37;
}

.paper{
	fill: #ff9966; width: 50px; height: 50px; cursor: pointer;
	margin-right: 30px;
}

.paper:focus{
	fill: #ec3d37;
}

.scissors{
	fill: #ff9966; width: 50px; height: 50px; cursor: pointer;
	transform: rotate(270deg);
}

.scissors:focus{
	fill: #ec3d37;
}

.play{
	display: flex;
	justify-content: center;
}

.play-g{
	width: 100px;
	height: 45px;
	margin-top: 25px;
	display: grid;
	text-align: center;
	align-content: center;
	background: linear-gradient(to right, #ff9966, #ec3d37, #ff9966,#ff9966, #ec3d37, #ff9966,#ff9966, #ec3d37, #ff9966, #ec3d37);
	font-family: 'Poppins', sans-serif;
	font-size: larger;
	background-size: 900% 100%; 
}

.play-g-s:hover{
	cursor: not-allowed;
}

.play-g:hover{
	cursor: pointer;
	animation: playg 5s linear infinite;
}

@keyframes playg{
	0%{
		background-position: 0% 0%;
	}
	100%{
		background-position: 100% 0%;
	}
}



.user-ani{
	animation-name: userani;
	animation-duration: 3s;
	animation-timing-function: linear;
}

@keyframes userani{
	0%{transform: rotate(90deg);}
	20%{transform: rotate(0deg);}
	40%{transform: rotate(90deg);}
	60%{transform: rotate(0deg);}
	80%{transform: rotate(90deg);}
	90%{transform: rotate(0deg);}
	100%{transform: rotate(90deg);}
}

.ai-ani{
	animation-name: aiani;
	animation-duration: 3s;
	animation-timing-function: linear;
}

@keyframes aiani{
	0%{transform: rotate(270deg);}
	20%{transform: rotate(360deg);}
	40%{transform: rotate(270deg);}
	60%{transform: rotate(360deg);}
	80%{transform: rotate(270deg);}
	90%{transform: rotate(360deg);}
	100%{transform: rotate(270deg);}
}

